<h1>New Review</h1>
<%= form_with(model: [@movie, @review], url: new_movie_review_path(@movie), local: true) do |form| %>
  <%= form.label :content %>
  <%= form.text_area :content, rows: 3, class: "form-control" %>
  <%= form.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<div class="review">
  <%= @review.content %>
</div>
